.cart-cart-cart {
    height: 200px;
    width: 100%;
    margin-top: 2vh;
    border-radius: 24px;
    border: 2px solid rgb(255, 253, 254, 0.5);
    background: rgb(243, 243, 243);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.cart-card-card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    border-top-right-radius: 24px;
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); */
}

.cart-card-price-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.cart-card-coupons-amount {
    display: inline-block;
    width: 100px;
    border-radius: 16px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    background: linear-gradient(
        180deg, 
        #7300ff3f, #91bcfd7b);
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow:
        7px 7px 20px 0px #fff9,
        4px 4px 5px 0px #fff9,
        -7px -7px 20px 0px #0002,
        -4px -4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    font-size: 16px;
    color: rgb(48, 48, 48);
    text-decoration: none;
}

.cart-card-coupons-price {
    display: inline-block;
    width: 150px;
    border-radius: 16px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    background: linear-gradient(
        180deg, 
        #7300ff3f, #91bcfd7b);
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow:
        7px 7px 20px 0px #fff9,
        4px 4px 5px 0px #fff9,
        -7px -7px 20px 0px #0002,
        -4px -4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    font-size: 16px;
    color: rgb(48, 48, 48);
    text-decoration: none;
}

.cart-card-image-container img {
    width: 100%;
    height: 200px;
    top: -2px;
    left: -1px;
    object-fit: contain;
    position: relative;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.body-border {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    padding: 1rem;
    height: 130px;
    width: 550px;
    border-radius: 25px;
    background: linear-gradient(
        180deg, 
        #7300ff3f, #91bcfd7b);
    /* background: #b4edff; */
    box-shadow:
        7px 7px 20px 0px #fff9,
        4px 4px 5px 0px #fff9,
        -7px -7px 20px 0px #0002,
        -4px -4px 5px 0px #0001;
}

.cart-card {
    padding: 0;
    margin: 0;
}

.cart-decrease {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #444444;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.cart-increase {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #444444;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.remove-item {
    width: 150px;
    border-radius: 25px;
    background: #ff00407b;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow:
        7px 7px 20px 0px #fff9,
        4px 4px 5px 0px #fff9,
        -7px -7px 20px 0px #0002,
        -4px -4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.remove-item:hover,
.cart-increase:hover,
.cart-decrease:hover {
    color: radial-gradient(circle, #0ff 0%, #e0e5ec 10%);
    background: #ff0040d4;
    animation: colorchange 3s linear infinite;
}

.remove-item:active,
.cart-increase:active,
.cart-decrease:active {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -2px -2px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}


.to-checkout {
    margin-top: 2vh;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background: #e0e0e0;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-shadow:
        7px 7px 20px 0px #fff9,
        4px 4px 5px 0px #fff9,
        -7px -7px 20px 0px #0002,
        -4px -4px 5px 0px #0001;
    transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
    font-size: 16px;
    color: #666;
    text-decoration: none;
}

.to-checkout:hover {
    background: #eaeaea;
}