.event-container {
    min-height: 80vh;
}

.pagination {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    outline: none;
    margin-top: 1rem;
}

.pagination>.active>a {
    background-color: #b57300;
    border-color: #b57300;

    backdrop-filter: blur(20px);
    color: #fff;
}

.pagination>li>a {
    border: 1px solid #b57300;
    box-shadow: 0 0 5px #b57300;
    outline: none;
    cursor: pointer;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>li>a:hover,
.pagination>.active>span:focus {
    background-color: #b57300;
    border-color: #b57300;
    box-shadow: 0 0 5px #b57300;
    color: #ffffff;
    outline: none;
    padding: 10px 50px;
}

.pagination>li>a,
.pagination>li>span {
    background-color: #b5730080;
    color: #ffffff;
    padding: 10px 50px;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:first-child>a:hover,
.pagination>li:first-child>span:hover,
.pagination>li:last-child>a,
.pagination>li:last-child>span,
.pagination>li:last-child>a:hover,
.pagination>li:last-child>span:hover{
    border-radius: unset;
}

