.all-coupons-page {
    margin-top: 15vh;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards-container-coupons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coupons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 56vw;
    max-width: 70vw;
    margin-left: 5vw;
}

.app-coupons-filters {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    height: 100px;
    background: linear-gradient(to right, rgb(73, 38, 0, 0.2), rgba(172, 100, 0, 0.2), rgb(73, 38, 0, 0.2));

}

.app-coupons-filters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    height: 100px;
    background: linear-gradient(to right, rgb(73, 38, 0, 0.2), rgba(172, 100, 0, 0.2), rgb(73, 38, 0, 0.2));
}