.all-coupons-page {
    margin-top: 20vh;
    min-height: 120vh;
}

.coupons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.app-coupons-filters {
    display: flex;
    justify-content: center;
    align-items: center;
}