.company-page {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-top: 10vh;
}