/* .hide {
    display: none;
} */

.filters-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.show-filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.max {
    border-radius: 6px;
    background: rgb(73, 38, 0, 0.2);
    border: none;
    padding: 5px;
    text-align: center;

    width: 150px;
    margin-left: 2rem;
}

.max::placeholder {
    color: rgb(255, 255, 255);
}

.reset-btn {
    border-radius: 6px;
    background: rgb(73, 38, 0, 0.2);
    border: none;
    padding: 5px;
    text-align: center;
    width: 150px;
    margin-left: 2rem;
}

.asc-desc-btn {
    border-radius: 6px;
    background: rgb(73, 38, 0, 0.2);
    border: none;
    padding: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 150px;
    margin-left: 2rem;
}