.cards-carousel-container {
    display: inline-block;
    width: 70vw;
    height: 70vh;
}

.slick-list {
    margin: 0 -15px;
}

.slick-slide>div {
    padding: 0 15px;
}

.slick-test .slick-track {
    background: transparent !important;
}

.slick-test .slick-slide {
    background-color: transparent !important;
}

.slick-arrow {
    position: absolute;
    top: 50%;
    margin-top: -15px;
}

.slick-prev {
    background-color: rgba(255, 255, 255, 0);
    height: 60px;
    width: 60px;
    padding: 4px;
    padding-left: 0;
    border-radius: 50px;
    z-index: 1;
}

.slick-next {
    background-color: rgba(255, 255, 255, 0);
    height: 60px;
    width: 60px;
    padding: 4px;
    padding-left: 0;
    border-radius: 50px;
}

.slick-prev:before,
.slick-next:before {
  color: rgb(255, 255, 255);
  font-size: 50px;
  z-index: 1;
}