.customer-page-container {
    min-height: 100vh;
    top: 0;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
    backdrop-filter: blur(20px);
}

.customer-container {
    min-height: 40vh;
    padding: 1rem;
    width: 100%;
    background: transparent;
}

.customer-profile-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
    width: 25rem;
    height: 100%;
    background: black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.customer-cart-panel {
    padding: 1rem;
    width: 70rem;
    min-height: 20vh;
    background: rgb(0, 0, 0, 0.3);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

.profile-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 30px;
    padding: 1.5rem;
}

.text-container {
    height: 20px;
    width: 120px;
}

.user-details {
    font-size: 18px;
    width: 250px;
    border: none;
    color: white;
    text-align: left;
    color: rgb(255, 255, 255);
}
