.customer-page-container {
    min-height: 150vh;
    top: 0;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.customer-container {
    min-height: 60vh;
    padding: 1rem;
    width: 90vw;
    background: rgba(255, 255, 255, 0.542);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    box-shadow: 0 0 0 1px rgb(255, 255, 255, 0.5);
}

.customer-profile-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 30vh;
    border-radius: 24px;
    backdrop-filter: blur(20px);
    background: rgba(240, 252, 255, 0.3);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.customer-cart-panel {
    border-radius: 24px;
    padding: 1rem;
    width: 56rem;
    min-height: 60vh;
    background: rgb(243, 243, 243, 0.3);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
}

.profile-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 30px;
    padding: 1rem;
}

.text-container {
    height: 20px;
    width: 120px;
}

.user-details {
    font-size: 18px;
    width: 250px;
    border: none;
    color: white;
    text-align: left;
    color: rgb(60, 60, 60);
}
