#root {
  --primary-gradient: linear-gradient(to right, rgb(16, 138, 134), rgb(18, 179, 173), rgb(16, 138, 134));
  min-height: 100%;
  display: grid;
  /* background: linear-gradient(to right, rgb(87, 87, 87), rgb(167, 167, 167), rgb(87, 87, 87)); */
  background: linear-gradient(to right, rgb(75, 39, 0), rgba(255, 123, 0, 0.753), rgb(75, 39, 0));

  /* rgb(97, 80, 4), rgb(231, 202, 74), rgb(97, 80, 4) --> gold */
}

html,
body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}